Repository BryanMoslo/sales_app_ui, pull requests merged in 2022-12, with the labels that each got.

#11 [UI] adding the UI template
  package-lock.json
  src/components/clients/Clients.css
  src/components/clients/Clients.js
  src/components/common/header.js
  src/components/common/sidebar.js
  src/components/employees/Employees.css
  src/components/employees/Employees.js
  src/components/offers/Offers.css
  src/components/offers/Offers.js
  src/components/sales/Sales.css
  src/components/sales/Sales.js
  src/components/teams/Teams.css
  src/components/teams/Teams.js
  src/components/template/alerts.js
  src/components/template/buttons.js
  src/components/template/components.js
  src/components/template/form.js
  src/components/template/inputs.js
  src/components/template/table.js
  src/index.css
  src/router.js
  src/routes/root.jsx
  tailwind.config.js
Labels: settings

#33 Active class for sidebar
  package.json
  src/components/common/sidebar.js
  src/components/teams/Teams.js
Labels: sidebar

#34 Redirect to the team listing page
  src/components/teams/create.js
Labels: feature, teams

#36 Closes #14 delete a team
  src/components/teams/Create.js
  src/components/teams/List.js
  src/components/teams/Show.js
Labels: feature, teams

#37 #15 part 1 - create a client
  src/components/clients/Create.js
  src/components/common/form.js
  src/components/common/list.js
  src/components/teams/Create.js
  src/components/teams/List.js
  src/router.js
Labels: feature, clients

#38 listing clients
  src/components/clients/Clients.js
  src/components/clients/List.js
  src/router.js
Labels: feature, clients

#41 Closes #24 and Closes #25
  package-lock.json
  package.json
  src/App.js
  src/components/clients/Clients.test.js
  src/components/clients/Create.js
  src/components/clients/List.js
  src/components/common/list.js
  src/components/offers/Create.js
  src/components/offers/List.js
  src/components/offers/Offers.js
  src/components/offers/Offers.test.js
  src/components/sales/List.js
  src/components/sales/Sales.js
  src/components/sales/Sales.test.js
  src/components/teams/Create.js
  src/components/teams/List.js
  src/components/utils/formError.js
  src/components/utils/utils.js
  src/router.js
  yarn.lock
Labels: feature, offers, sales

#43 Closes #28
  src/components/offers/Create.js
  src/components/sales/Create.js
  src/index.css
  src/router.js
Labels: feature, sales
